<section>
    <div class="subheadline_center">
        <div class="subheadline_container">
            <h2>Portfolio</h2>
            <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
        </div>
    </div>
    <div class="content">
        <div class="card">
            <div>
                <img src="/assets/shared/img/projects/join.png" alt="join image">
            </div>
            <div class="amount_container">
                <span><b>01/05</b></span>
            </div>
        </div>
    </div>
</section>
