<section>
    <h2>{{ 'about_me' | translate }}</h2>
    <div>
        <div data-aos="fade-right">
            <p>{{ 'about_me_text' | translate }}</p>
            <a href="#form">{{ 'about_me_button' | translate }}</a>
        </div>
        <div data-aos="fade-right"data-aos="fade-left">
            <div class="img_container">
                <img src="/assets/shared/img/about-me/placeholder.png" alt="my profile image">
                <div class="img_border"></div>
            </div>
        </div>
    </div>
</section>