<div class="container">
    <div class="header_container">
        <app-header></app-header>
    </div>
    <div class="center_page">
        <div class="top_page">
            <!-- <div class="header_container">
                <app-header></app-header>
            </div> -->
            <app-landing></app-landing>
        </div>
        <app-about-me></app-about-me>
        <div class="arrow_container right_arrow_container">
            <img id="my_skills" src="/assets/shared/img/down-left-arrow.png">
        </div>
        <app-my-skills></app-my-skills>
        <div class="arrow_container left_arrow_container">
            <img id="portfolio" src="/assets/shared/img/down-right-arrow.png">
        </div>
        <app-projects></app-projects>
        <div class="arrow_container right_arrow_container">
            <img src="/assets/shared/img/down-left-arrow.png">
        </div>
        <div class="black_sections">
            <app-say-hi></app-say-hi>
            <app-footer></app-footer>
        </div>
    </div>
</div>