.header_container {
    height: 93px;
    width: 100%;
}

.impressum {
    padding: 0 16px;

    h1{
        margin-top: 0;
    }
}

@media(min-width: 1921px) {
    .impressum {
        height: calc(100vh - 183px);
    }
}