<header>
    <span><b>[FK]</b></span>
    <img src="assets/shared/img/burger menu S3.png" (click)="changeStatus()">
</header>
<div class="header_popup" [ngClass]="popup ? 'popup_open' : 'popup_close' ">
    <div class="popup_content">
        <div class="content_header">
            <span><b>[FK]</b></span>
            <img src="assets/shared/img/header/close.png" (click)="changeStatus()">
        </div>
        <a href="">About me</a>
        <a href="">My skills</a>
        <a href="">Portfolio</a>
    </div>
</div>