<header>
    <div class="header_logo_container">
        <span [routerLink]="'/'"><b>[FK]</b></span>
        <!-- <div class="language_container">
            <a [ngClass]="englishButton ? 'active_language': ''" (click)="translate.switchLanguage('en'); setEn()">en</a>
            <a [ngClass]="germanButton ? 'active_language': ''" (click)="translate.switchLanguage('de'); setDe()">de</a>
        </div> -->

        <ul>
            <li>
                <a href="#0">Select Language</a>
                <ul>
                    <li (click)="translate.switchLanguage('en'); setEn()">
                        <img src="/assets/shared/img/header/uk.png" alt="uk image">
                        <a [ngClass]="englishButton ? 'active_language': ''">en</a>
                    </li>
                    <li (click)="translate.switchLanguage('de'); setDe()">
                        <img src="/assets/shared/img/header/germany.png" alt="uk image">
                        <a [ngClass]="germanButton ? 'active_language': ''"(click)="translate.switchLanguage('de'); setDe()">de</a>
                    </li>
                </ul>
            </li>
            
        </ul>


    </div>
    <img src="assets/shared/img/burger menu S3.png" (click)="changeStatus()" alt="open popup">
</header>
<div class="header_popup" [ngClass]="popup ? 'popup_open' : 'popup_close' ">
    <div class="popup_content">
        <div class="content_header">
            <div class="header">
                <span><b>[FK]</b></span>
                <img src="assets/shared/img/header/close.png" alt="close popup" (click)="changeStatus()">
            </div>
        </div>
        <a href="#about_me" (click)="changeStatus()">{{ 'about_me' | translate }}</a>
        <a href="#my_skills" (click)="changeStatus()">{{ 'my_skills' | translate }}</a>
        <a href="#portfolio" (click)="changeStatus()">Portfolio</a>
    </div>
</div>