@import './../../../styles.scss';

@mixin formElStyle() {
    background-color: black;
    color: white;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid white;
    padding-left: 16px;
    padding-top: 24px;

    &:focus {
        outline: 2px solid white;
        border: 2px solid white;
    }

    &::placeholder {
        color: lightgray;
    }

    &:hover {
        border: 2px solid white;

    }
}

section {
    margin-top: 64px;
    background-color: black;
    color: white;
    padding: 40px 40px;
    position: relative;

    h2 {
        font-size: 78px;
        font-weight: 800;
        font-family: 'Syne';

        &:hover {
            color: white;
        }
    }
}

input {
    @include formElStyle();
    padding-bottom: 16px;

    &:hover .focus_title {
        display: flex !important;
    }
}

textarea {
    @include formElStyle();
}

.focus_title {
    display: none;
    position: absolute;
    top: -9px;
    left: 16px;
    background-color: black;
    z-index: 100;
    padding: 0px 4px;
}

.input_container {
    width: 100%;
    position: relative;

    input {
        width: 100%;
    }
}

.form_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Overpass';

    h3 {
        margin: 0;
        color: $goldFont;
        font-size: 32px;
        font-weight: 700;
    }

    p {
        font-size: 23px;
        font-weight: 400;
    }

    form {
        display: flex;
        flex-direction: column;

    }
}

.checkbox_container {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    
    >div {
        display: flex;
        gap: 8px;
    }

    a {
        text-decoration: none;
        color: $goldFont;
    }
}

.form_button_container {
    width: 100%;
    display: flex;
    justify-content: center;

    >button {
        width: fit-content;
        text-decoration: none;
        border: none;
        background-color: black;
        color: white;
        padding: 16px 24px;
        border: 2px solid white;
        font-size: 23px;
        cursor: pointer;
    }
}

.go_to_top_container {
    position: absolute;
    bottom: 16px;
    right: 40px;
    cursor: pointer;
}

.invalid_message {
    margin-top: 4px;
    color: red;
}

.invalid_el {
    border: 2px solid red;

    &:focus {
        border: 2px solid red;
        outline: 2px solid red;
    }
}

@media(max-width: 770px) {

    section {
        h2{
            font-size: 56px;
        }
    }

    .form_container{
        h3{
            text-align: center;
        }

        p{
            font-size: 20px;
            text-align: center;
        }
    }

}

@media(max-width: 530px) {
    .go_to_top_container {
        display: none;
    }

    section {
        h2 {
            font-size: 36px;
        }
    }

    .form_container {
        h3{
            font-size: 24px;
        }

        p{
            font-size: 18px;
        }
    }
}