<section id="form">
    <h2>{{ "say_hi_headline" | translate }}</h2>
    <div class="form_container">
        <h3>{{ "say_hi_subheadline" | translate }}</h3>
        <p>{{ "say_hi_para" | translate }}</p>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="title_container">
                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" name="name" required
                    placeholder="{{ 'say_hi_name' | translate }}">
                <span class="focus_title">{{ "say_hi_name" | translate }}</span>
                @if(!name.valid && name.touched && !name.disabled) {
                <img class="validation_img" src="/assets/shared/img/say-hi/invalid.png" alt="invalid image">
                } @else if (name.valid && name.touched && !name.disabled) {
                <img class="validation_img" src="/assets/shared/img/say-hi/valid.png" alt="invalid image">
                }
            </div>
            @if (!name.valid && name.touched && !name.disabled) {
            <span class="invalid_message">{{ "say_hi_name_invalid" | translate }}</span>
            }
            <div class="email_container">
                <input #mail="ngModel" [(ngModel)]="contactData.email" type="email" name="mail" required
                    placeholder="{{ 'say_hi_email' | translate }}" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,6}">
                <span class="focus_email">{{ "say_hi_email" | translate }}</span>
                @if(!mail.valid && mail.touched && !mail.disabled) {
                <img class="validation_img" src="/assets/shared/img/say-hi/invalid.png" alt="invalid image">
                } @else if (mail.valid && mail.touched && !mail.disabled) {
                <img class="validation_img" src="/assets/shared/img/say-hi/valid.png" alt="invalid image">
                }
            </div>
            @if (!mail.valid && mail.touched && !mail.disabled) {
            @if(mail.errors?.['required']) {
            <span class="invalid_message">{{ "say_hi_email_invalid" | translate }}</span>
            } @else if (mail.errors?.['pattern']) {
            <span class="invalid_message">{{ "say_hi_email_invalid_pattern" | translate }}</span>
            }
            }
            <div class="message_container">
                <textarea #message="ngModel" minlength="3" required [(ngModel)]="contactData.message" name="message" cols="30"
                    rows="10" placeholder="{{ 'say_hi_message' | translate }}"></textarea>
                <span class="focus_message">{{ "say_hi_message" | translate }}</span>
                @if(!message.valid && message.touched && !message.disabled) {
                <img class="validation_img" src="/assets/shared/img/say-hi/invalid.png" alt="invalid image">
                } @else if (message.valid && message.touched && !message.disabled) {
                <img class="validation_img" src="/assets/shared/img/say-hi/valid.png" alt="invalid image">
                }
            </div>
            @if (!message.valid && message.touched && !message.disabled) {
                @if (message.errors?.['minlength']) {
                    <span class="invalid_message">{{ "say_hi_message_invalid_length" | translate }}</span>
                } @else {
                    <span class="invalid_message">{{ "say_hi_message_invalid" | translate }}</span>
                }
            }
            <div class="checkbox_container">
                <div>
                    <input #checkbox="ngModel" id="checkbox" [(ngModel)]="checkBox" type="checkbox" name="checkbox" required>
                    <label for="checkbox">{{ "say_hi_checkbox_first" | translate }} <a [routerLink]="'/privacy-policy' " (click)="goTopPage()">{{ "say_hi_privacy_policy" | translate }}</a>{{ "say_hi_checkbox_second" | translate }}</label>
                </div>
            </div>

            @if (name.valid && mail.valid && message.valid && checkbox.valid) {
                <div class="form_button_container">
                    <button type="submit">{{ "say_hi_button" | translate }}</button>
                </div>
            } @else {
                <div class="form_button_container_disabled">
                    <button disabled>{{ "say_hi_button" | translate }}</button>
                </div>
            }
        </form>
    </div>
    <div class="go_to_top_container">
        <a (click)="goTopPage()">
            <img src="/assets/shared/img/say-hi/top-arrow.png" alt="go to top">
        </a>
    </div>
    @if(sendMail) {
        <div class="popup_feedback_container">
            <div class="popup_feedback">
                <span>Mail send!</span>
            </div>
        </div>
    }
</section>