<footer>
    <div class="copyright_container">
        <b>[FK]</b>
        <span>&copy; Florian Kube 2024</span>
    </div>

    <div class="footer_links_container">
        <div>
            <a href="https://github.com/DirectDarkside" target="_blank">
                <img src="/assets/shared/img/footer/github-icon.png" alt="GitHub link">
            </a>
            <a href="mailto:kube.florian13@gmail.com">
                <img src="/assets/shared/img/footer/email-icon.png" alt="E-Mail link">
            </a>
            <a href="https://www.linkedin.com/in/florian-kube-5349652b9/" target="_blank">
                <img src="/assets/shared/img/footer/linked-in-icon.png" alt="LinkedIn link">
            </a>
        </div>
        <a  href="https://www.florian-kube.de" class="mobile_link footer_logo">[FK]</a>
        <a href="mailto:kube.florian13@gmail.com" class="mobile_link">{{ mail }}</a>
        <a [routerLink]="'/legal-notice'" (click)="goTopPage()">Legal notice</a>
    </div>
</footer>