<footer>
    <div class="copyright_container">
        <b>[FK]</b>
        <span>&copy; Florian Kube 2024</span>
    </div>

    <div class="footer_links_container">
        <div>
            <a href="">
                <img src="/assets/shared/img/footer/github-icon.png" alt="GitHub link">
            </a>
            <a href="">
                <img src="/assets/shared/img/footer/email-icon.png" alt="E-Mail link">
            </a>
            <a href="">
                <img src="/assets/shared/img/footer/linked-in-icon.png" alt="LinkedIn link">
            </a>
        </div>
        <a href="">Legal notice</a>
    </div>
</footer>