<section>
    <div>
        <h1>Frontend<br>Developer</h1>
        <div class="landing_info_container">
            <div class="landing_line"></div>
            <span><b>Florian Kube</b></span>
        </div>
    </div>
    <div class="landing_mail_container">
        <div class="mail_container">
            <span>{{mail}}</span>
        </div>
        <div>
            <div class="arrow_container">
                <img src="/assets/shared/img/arrow-down.png" alt="arrow down">
            </div>
            <span id="about_me">Scroll<br>Down</span>
        </div>
    </div>
</section>