<section>
    <div>
        <h1 [innerHTML]="'landing_headline' | translate"></h1>
        <div class="landing_info_container">
            <div class="landing_line"></div>
            <span><b>Florian Kube</b></span>
        </div>
    </div>
    <div class="landing_mail_container">
        <div class="mail_container">
            <span>{{mail}}</span>
        </div>
        <div>
            <div id="about_me" class="arrow_container">
                <img src="/assets/shared/img/arrow-down.png" alt="arrow down">
            </div>
            <span class="arrow_span" [innerHTML]="'scroll_down' | translate"></span>
        </div>
    </div>
</section>