$goldFont: #FF9900;

body {
    margin: 0;
    background-color: #FFFCF3;
    width: 100vw;
    display: flex;

    >app-root{
        width: 100%;
        display: flex;
        justify-content: center;
    }

}